.cab{
    color: rgb(0, 0, 0);
    background-color: rgb(247, 175, 127);
    display: flex;
    background-image: -moz-repeating-linear-gradient(rgb(8, 8, 8));
    justify-content:space-between;


}

.img1{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    float: right;
    
}

.img2{
    width: 30%;
}


.img3{
    width: 40%;
}


.img4{
    width: 25%;
}


